# Database settings
host = 'localhost'
username = 'username'
password = 'password'
database = 'futurum'

# Shop settings
url = 'http://www.futurumshop.nl'

# Search settings
urlNL = "http://www.futurumshop.nl/zoeken/?sortBy[price]=asc&itemPerPage=50"
urlDE = "http://www.futurumshop.de/suche/?q="

# Customer settings
customerLogin = 'username@local.com'
customerPassword = 'password'

# NL
search = "fc_search"
add_to_card = "(//div[@id='selectedProduct']//button)[2]"
go_card = "//div[@class='cartHeader']//a"
two_step_in_card = "(//div[@id='content']//button)[1]"
go_pm_page = "(//div[@id='content']//button)[1]"
buy_button = "//span[@class='paymentOptions active']/button"

# Delivery method
choose_default = "default"
internamsterdam = "internamsterdam"
internapeldoorn = "internapeldoorn"

# DE

uberweisung = "(//input[@class='paymentmethod'])[2]"
paypal = 'paypal'
sofort = 'sofort'
visa = 'visa'
mastercard = 'mastercard'
aexpress = 'aexpress'
nachnahme = 'nachnahme'

agree = "//input[@id='agree']"